* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightblue;
}
.main {
  width: 320px;
  height: 450px;
  border-style: ridge;
  border-radius: 5%;
  background-color: rgb(10, 35, 45);
}

.conteiner input {
  width: 290px;
  height: 90px;
  font-size: 36px;
  text-align: right;
  border-style: none;
  background-color: rgb(10, 35, 45);
  color: orangered;
}
#equals {
  width: 135px;
}

.math-num {
  color: lightblue;
  font-size: large;
}
.math-num:hover {
  background-color: orangered;
}

.math-oper {
  font-size: 22px;
  color: orangered;
}
.math-oper:hover {
  background-color: lightblue;
}
.keyboard button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
  border-style: hidden;
  background-color: rgb(10, 35, 45);
  box-shadow: 1.5px 1.5px 1px 1px lightblue inset;
}
