* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(6, 20, 95);
}
.conteiner {
  width: 350px;
  background-color: black;
  border-radius: 20px;
}
input[type="text"] {
  height: 70px;
  width: 270px;
  border-radius: 20px;
  font-size: 24px;
  color: white;
  text-align: right;
  padding-right: 20px;
  background-color: black;
  box-decoration-break: slice;
}
form .buttons {
  width: 300px;
  margin: 0px 25px 0 25px;
  padding: 10px 0;
}
input[type="button"] {
  width: 58px;
  height: 55px;
  margin: 2px;
  border-radius: 50px;
}
input[class="null"] {
  width: 130px;
}
input[class="Math-oper"] {
  background-color: orange;
}
input[value] {
  font-size: 20px;
}
